@model ContosoUniversity.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeAssignment)
        </dt>
        <dd class="col-sm-10">
            @if (Model.OfficeAssignment != null)
            {
                @Html.DisplayFor(model => model.OfficeAssignment.Location)
            }
            else
            {
                <span>N/A</span>
            }
        </dd>

        <dt class="col-sm-2">
            Courses Assigned
        </dt>
        <dd class="col-sm-10">
            @if (Model.CourseAssignment != null && Model.CourseAssignment.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Course Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var assignment in Model.CourseAssignment)
                        {
                            <tr>
                                <td>@assignment.CourseID</td>
                                <td>@assignment.Course.Title</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span>No courses assigned</span>
            }
        </dd>
    </dl>
</div>
