@model ContosoUniversity.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.FirstMidName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.HireDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeAssignment)
        </dt>
        @{
            if (Model.OfficeAssignment != null)
            {
                foreach (var item in Model.CourseAssignment)
                {
                    <td>
                        @Html.DisplayFor(model => model.OfficeAssignment.Location)
                    </td>
                }
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseAssignment)
        </dt>
        <dt>
            @{
                foreach (var item in Model.CourseAssignment)
                {
                    <td>
                        @Html.DisplayFor(model => item.CourseID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Course)
                    </td>
                }
            }
        </dt>
    </dl>
</div>